<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% assign related = page.id %}
    {% assign count = 0 %}
    {% for tag in page.tags %}
      {% if count == 3 %}
        {% break %}
      {% endif %}
      {% for post in site.tags[tag] %}
        {% if related contains post.id %}
        {% else %}
          <li>
            <h3>
              <a href="{{ post.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
              </a>
            </h3>
          </li>
          {% assign related = related | append:post.id %}
          {% assign count = count | plus:'1' %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
